@font-face {
  font-family: canucks;
  src: url('../assets/fonts/canucks.ttf');
}
* {
  color: white;
  font-family: canucks;
}
body {
  background: url('../assets/boeser.jpeg') no-repeat 50% 0;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.title {
  font-size: 100px;
}
#horn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px 30px;
}
#boeser-stats {
  font-size: 80px;
}
#boeser-stats table {
  margin: 0 auto;
}
footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  margin: 0;
  background-color: #2d2d2d;
  color: #fff;
  text-align: center;
}
footer a:hover {
  color: #7eb1dc;
}